img{
    
    display: block;
    position: absolute;
    margin-left: -136px;
    left: 50%;
    top: 198px;
}
form {
    display: block;
    position: fixed;
    margin-left: -136px;
    left: 50%;
    top: 317px;
}
 nav{
     width: 100vw;

 }
header nav a{
    display: inline-flex;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 6px;
    text-align: center
    
}
 .right-side{
    left: 912px
}
 .left-end{
     margin-left: 8px
 }

 .right-end{
     margin-right: 8px;
 }
