.google-logo{
    
    display: block;
    position: absolute;
    margin-left: -136px;
    left: 50%;
    top: 198px;
}
 .sign-in{
    background-color: #4086ff;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 8px;
    width: 55px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    bottom: 1px;
 }
  .sign-in:active{
      background-color: rgb(52, 100, 255);
  }
input {
    display: block;
    position: absolute;
    margin-left: -250px;
    left: 50%;
    top: 317px;
    width: 500px;
    height: 40px;
    font-size: 17px;
    border-radius: 25px;
    border: 0.1px solid rgb(214, 214, 214);
    
}
 nav{
     width: 1200px;
 }
header nav a{
    font-size: 13px;
    color: black;
}
nav a, p{
    display: inline-block;
    font-family: arial, sans-serif;
    position: relative;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}
 .list{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 22px;
    top: 5px;
    
 }
nav a:hover{
    text-decoration: underline;
}
 .right-header{
    left: 925px;
}
.right-footer{
    left: 708px;
}
 .left-end{
     margin-left: 8px
 }

 .right-end{
    margin-right: 8px;
 }
 footer nav{
    position: fixed;
    width: 1400px;
    border: 2px solid #f2f2f2;
    
    left:0;
    background-color: #f2f2f2;
    
    border-top: 0.1px solid rgb(224, 224, 224);
    height: 38px;
    
 }
  #country{
     bottom:38px;
 }

  #bottom{
     bottom: 0px;
     line-height: 28px;
 }
 footer nav a{
     position: relative;
     color: rgb(105, 105, 105);
     padding-left: 17px;
     font-size: 14px;
     left:3;
 }
 footer nav p{
    position: relative;
    color: rgb(105, 105, 105);
    padding-left: 18px;
    font-size: 17px;
    bottom: 6px;
    left: 7px;
    line-height: 3px;
 }
 
